<html>
	</head>
		<title>Redis Key Overview</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style type="text/css">
			.overflow-dotted {
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 400px;
				display: block;
				overflow: hidden
			}
		</style>
		<style type="text/css">
			th:nth-child(n+2), td:nth-child(n+2) {
				text-align: right;
			}

		</style>
	</head>
	<body style="background-color: #eee;">
		<div class="jumbotron">
			<div class="container">
				<div class="page-header">
					<h1><a href="/" style="color: #333333;">Redis Key Overview</a><a href="/init" style="margin-left: 60px" class="btn btn-primary">Initialize</a></h1>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th><b>Type</b></th>
							<th><b>Amount</b></th>
							<th><b>Amount in %</b></th>
							<th><b>Size</b></th>
							<th><b>Size in %</b></th>
							<th><b>Ø Size</b></th>
						</tr>
					</thead>
					<tbody>
						{{#each types}}
						<tr>
							<td><a href="/{{lowercase type}}">{{type}}</></td>
							<td>{{amount}}</td>
							<td>{{amountinpercent}}</td>
							<td>{{size}}</td>
							<td>{{sizeinpercent}}</td>
							<td>{{avg}}</td>
						</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td><b>TOTAL</b></td>
							<td><b>{{totalamount}}</b></td>
							<td><b>100 %</b></td>
							<td><b>{{totalsize}}</b></td>
							<td><b>100 %</b></td>
							<td><b>{{totalavg}}</b></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</body>
</html>